@font-face {
    font-family: "EmojiOne Color";
    src: url("emojione-svg.otf");
}
body{
    background: #e6ecf0 !important;
    color: #14171a;
    font-size: 16px;
    line-height: 20px;
    overflow-y: scroll;
}
.card-content {
    font-family: 'EmojiOne Color', sans-serif;
}
ol, ul {
    margin: 0;
    padding: 0;
}
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre {
    margin: 0;
}
blockquote {
    font-style: italic;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 5px 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
b {
    font-weight: normal;
}
a {
    text-decoration: none;
}
button {
    border: 0;
}
.mesh-loader {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.mesh-loader .circle {
    width: 25px;
    height: 25px;
    position: absolute;
    background: #03A9F4;
    border-radius: 50%;
    margin: -12.5px;
    -webkit-animation: mesh 3s ease-in-out infinite;
    animation: mesh 3s ease-in-out infinite -1.5s;
}

.mesh-loader > div .circle:last-child {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.mesh-loader > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10%;
}

.mesh-loader > div:last-child {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

@-webkit-keyframes mesh {
    0% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    50.00001% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes mesh {
    0% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    50.00001% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.header-main{
    backface-visibility: hidden;
    border-bottom: 1px solid #e6ecf0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: .07s all;
}
.header-nav{
    border-bottom: 1px solid rgba(0,0,0,0.25);
    height: 50px;
    position: relative;
    width: 100%;
}
.global-header-nav{
    background: #fff;
    height: 49px;
}
.navigation{
    float: left;
    text-align: center;
    margin-top: 3px;
}
.global-actions{
    float: left;
    text-align: left;
}
.global-actions > li{
    float: left;
    height: 46px;
    color: #66757f;
    overflow: hidden;
    transition: .07s all;
}
.global-actions > li > a{
    height: 44px;
    border-bottom-color: #1DA1F2;
    transition: all .15s ease-in-out;
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 46px;
    line-height: 1;
    padding: 0 14px 0 4px;
}
.global-actions > li > a.active {
    border-bottom: 2px solid #1c94e0;
    color: #1c94e0;
}
.global-actions > li > a:hover {
    border-bottom: 2px solid #1c94e0;
    color: #1c94e0;
    transition: .1s all;
}
.global-actions > li > a > span.text{
    float: left;
    margin-left: 3px;
    margin-top: 13px;
    padding: 0;
}
.global-actions > li > a > .icon{
    float: left;
    margin: 11px 0 0 10px;
    width: 23px;
    height: 23px;
    font-size: 21px;
}
.search-form {
    float: left;
    height: 33px;
    margin: 7px 15px 0 0;
    font-size: 12px;
    width: 221px;
    position: relative;
}
.search-input {
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #14171a;
    display: block;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    transition: all .2s ease-in-out;
    width: 100%;
}
.search-icon {
    cursor: pointer;
    display: block;
    height: 26px;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 26px;
}
button.icon-search::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f002";
}
button.icon-search{
    background-color: transparent;
    color: #66757f;
    height: auto;
    width: auto;
    border: none;
    font-size: 18px;
}
.right-actions {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
    float: right;
    list-style: none;
}
.right-actions{
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
    text-align: left;
}
.right-actions > li > a {
    color: inherit;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 46px;
    line-height: 1;
    padding: 6px 14px 0 4px;
}
.right-actions > li {
    float: left;
}
.settings {
    border: 0;
    border-radius: 50%;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    width: 32px;
    height: 32px;
}
.settings::before {
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    content: "";
    display: block;
    height: 32px;
    position: absolute;
    width: 32px;
}
.avatar {
    height: 32px;
    width: 32px;
    display: block;
    border-radius: 50%;
    border: 0;
}

.dropdown.open .dropdown-menu {
    display: block;
}
.dropdown-menu.dropdown-menu--rightAlign.is-autoCentered {
    left: auto;
    right: calc(27% - 50px - 9px);
}
.dropdown-menu.is-autoCentered {
    left: calc(50% - 12px - 9px);
    right: auto;
    top: calc(100% - -10px - 2px);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 900;
    float: left;
    padding: 10px 0;
    margin: 2px 0 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    background-clip: padding-box;
}
.dropdown-menu.dropdown-menu--rightAlign .dropdown-caret, .dropdown-caret.right {
    left: auto;
    right: 10px;
}
.dropdown-menu .dropdown-caret {
    position: absolute;
    top: -10px;
    left: 12px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}
.dropdown-caret .caret-outer {
    border-bottom: 10px solid #657786;
    border-bottom-color: rgba(0,0,0,0.1);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
}
.dropdown-caret .caret-outer, .dropdown-caret .caret-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: -1px;
}
.dropdown-caret .caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-bottom-color: #fff;
}
.caret-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: -1px;
}
.dropdown-menu li {
    display: block;
    float: none;
    line-height: inherit;
    position: relative;
}
.DashUserDropdown-userInfo {
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
}
.DashUserDropdown-userInfo {
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
}
.DashUserDropdown.dropdown-menu li>a, .DashUserDropdown.dropdown-menu button {
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
}
.dropdown-menu li>a, .dropdown-menu .dropdown-link {
    clear: both;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    float: none;
    line-height: 20px;
    margin: 0;
    padding: 5px 20px;
    position: relative;
    white-space: nowrap;
}
.DashUserDropdown-userInfo .fullname {
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
}
.fullname {
    word-break: break-all;
    color: #14171a;
    font-size: 14px;
    font-weight: bold;
}
.u-dir[dir="ltr"] {
    direction: ltr!important;
    text-align: left!important;
    unicode-bidi: embed;
}
.u-textTruncate {
    max-width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    word-wrap: normal!important;
}
.dropdown-divider {
    padding-top: 1px;
    margin: 5px 1px 6px;
    border-bottom: 1px solid #e6ecf0;
}
.DashUserDropdown.dropdown-menu li>a, .DashUserDropdown.dropdown-menu button {
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
}
.dropdown-menu li>a, .dropdown-menu .dropdown-link {
    clear: both;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    float: none;
    line-height: 20px;
    margin: 0;
    padding: 5px 20px;
    position: relative;
    white-space: nowrap;
}
.DashUserDropdown.dropdown-menu li .Icon {
    color: #657786;
    margin-right: 12px;
    vertical-align: text-bottom;
}
.Icon--medium {
    font-size: 18px;
    line-height: 18px;
}
.Icon {
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
}
.Icon:after, .Icon:before {
    display: block;
    font-family: "edgeicons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.Icon--me:before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
}
.DashUserDropdown.dropdown-menu li>a:hover, .DashUserDropdown.dropdown-menu li>a:focus, .DashUserDropdown.dropdown-menu li>a:hover .DashUserDropdown-linkIcon, .DashUserDropdown.dropdown-menu li>a:focus .DashUserDropdown-linkIcon, .DashUserDropdown.dropdown-menu button:hover, .DashUserDropdown.dropdown-menu button:focus {
    color: #fff;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-menu .dropdown-link:hover, .dropdown-menu .dropdown-link:focus, .dropdown-menu .dropdown-link.is-focused, .dropdown-menu li:hover .dropdown-link, .dropdown-menu li:focus .dropdown-link, .dropdown-menu .selected a, .dropdown-menu .dropdown-link.selected {
    background-color: #1DA1F2 !important;
}
.nav.right-actions>li+li {
    margin-left: 16px;
}
.EdgeButton--primary, .EdgeButton--primary:focus {
    background-color: #4AB3F4;
    border-color: transparent;
}
.EdgeButton--primary {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
}
.EdgeButton, .EdgeButton:visited {
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
button {
    background: transparent;
    border: 0;
    padding: 0;
    transition: box-shadow .15s ease-in-out;
}
.EdgeButton--primary {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
}
.EdgeButton, .EdgeButton:visited {
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.right-actions>li+li {
    margin-left: 16px;
}
.page-container{
    padding: 56px 14px 15px;
    position: relative;
    margin-top: 6px;
}
.dashboard {
    float: left;
    width: 290px;
    margin-top: 3px;
}
.DashboardProfileCard {
    border: 1px solid #e6ecf0;
    background: #fff;
}
.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
    margin-bottom: 10px;
}
.u-bgUserColor, .u-bgUserColorHover:hover, .u-bgUserColorHover:focus {
    background-color: #1DA1F2 !important;
}
.DashboardProfileCard-bg {
    background-size: 100%;
    height: 95px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-position: 0 50%;
    width: 100%;
    padding: 0;
    margin-top: -1px;
}
.u-block {
    display: block!important;
}
.DashboardProfileCard-avatarLink {
    background-color: #fff;
    border-radius: 50%;
    margin: -30px 0 0 8px;
    padding: 1px;
    vertical-align: bottom;
}
.u-inlineBlock {
    display: inline-block!important;
    max-width: 100%;
}
a>img:first-child:last-child {
    transition: box-shadow .15s ease-in-out;
}
.DashboardProfileCard-avatarImage {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
.DashboardProfileCard-userFields {
    position: absolute;
    top: 103px;
    left: 90px;
    width: 185px;
}
.DashboardProfileCard-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: -1px 0 -2px 0;
}
.u-textTruncate {
    max-width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    word-wrap: normal!important;
}
.account-group .UserBadges {
    font-size: .9em;
}
.u-dir[dir="ltr"] {
    direction: ltr!important;
    text-align: left!important;
    unicode-bidi: embed;
}
.u-inlineBlock {
    display: inline-block!important;
    max-width: 100%;
}
.DashboardProfileCard-screennameLink {
    font-size: 12px;
    padding-right: 5px;
    color: #66757f;
}
.DashboardProfileCard .ProfileCardStats {
    padding-top: 16px;
}
.ProfileCardStats {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.Arrange--equal {
    table-layout: fixed;
}
.Arrange {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
.Arrange--equal>.Arrange-sizeFill, .Arrange--equal>.Arrange-sizeFit {
    width: 1%;
}
.Arrange-sizeFill, .Arrange-sizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.ProfileCardStats-stat {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    overflow: hidden;
    transition: all .15s ease-in-out;
}
.ProfileCardStats-statLabel {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .02em;
    line-height: 16px;
    overflow: hidden;
    transition: color .15s ease-in-out;
}
.ProfileCardStats-statValue {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    transition: color .15s ease-in-out;
}
.module .flex-module {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding: 15px;
    line-height: 16px;
}
.flex-module-header {
    margin-bottom: 10px;
}
.wtf-module h3 {
    font-size: 18px;
    font-weight: bold;
}
.flex-module-header h3 {
    color: #14171a;
    display: inline;
    font-size: 18px;
    font-weight: bold;
}
.flex-module-header small {
    line-height: 1;
}
small {
    font-size: 12px;
}
.user-list-item{
    border-bottom: 1px solid #e6ecf0;
    padding-bottom: 8px;
}
.account-summary {
    margin-top: 10px;
    position: relative;
    display: block;
    min-height: 48px;
}
.UserSmallListItem-context {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4px;
}
.account-summary .dismiss {
    margin-top: 0;
    color: #ccd6dd;
}
.dismiss {
    float: right;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.icon-close::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00d";
}
.account-summary .content {
    margin-left: 58px;
    margin-right: 20px;
}
.wtf-module .account-group {
    font-size: 14px;
}
.account-summary .account-group, .account-summary .account-action {
    display: block;
    line-height: 16px;
}
.UserSmallListItem .account-group .avatar {
    top: unset;
}
.account-summary .avatar {
    position: absolute;
    top: 0;
    left: 0;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 1;
}
.account-summary .account-group-inner {
    display: block;
    width: 100%;
}
.account-summary .account-group-inner, .account-summary .metadata {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fullname {
    word-break: break-all;
    color: #14171a;
    font-size: 14px;
    font-weight: bold;
}
.UserSmallListItem .user-actions {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    -moz-box-align: center;
    -ms-flex-align: center;
    margin-top: 4px;
}
.follow-button{
    min-width: 89px;
    border-color: #1DA1F2 !important;
    color: #1DA1F2 !important;
    padding: 4px 12px;
}
.follow-button>span {
    vertical-align: middle;
    font-weight: 700;
}
.follow-button:hover {
    color: #fff !important;
    background-color: #1DA1F2 !important;
    border-color: #1DA1F2 !important;
}
.user-actions{
    margin-top: 4px;
}
.Trends {
    background-color: #fff;
    background-clip: inherit;
    border: 1px solid #e6ecf0;
    line-height: inherit;
    padding: 15px;
}
.Trends .flex-module {
    background-color: inherit;
    border: 0;
    line-height: inherit;
    padding: 0;
}
.Trends .flex-module-header {
    line-height: 20px;
    margin-bottom: 10px;
}
.flex-module-header h3 {
    color: #14171a;
    display: inline;
    font-size: 18px;
    font-weight: bold;
}
.Trends .trend-location {
    font-size: 18px;
    font-weight: bold;
}
.flex-module-inner, .flex-module-footer {
    color: #657786;
    font-size: 12px;
}
.Trends .trend-items {
    margin-top: -4px;
    list-style: none;
}
.Trends .context-trend-item {
    line-height: 17px;
    margin-bottom: 10px;
}
.Trends .trend-item {
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 7px;
    word-wrap: break-word;
}
.trend-name {
    font-weight: bold;
}
.Trends .context-trend-item .trend-item-stats {
    color: #657786;
    font-size: 12px;
    line-height: 16px;
    max-height: 51px;
    overflow: hidden;
    font-weight: normal;

}
.main-content {
    float: right;
    width: 795px;
}
.gedf-card {
    margin-bottom: 10px;
    padding: 0;
}

.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.draftJsToolbar__buttonWrapper__1Dmqh {
    display: inline-block;
}

.draftJsToolbar__button__qi1gf {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

.draftJsToolbar__button__qi1gf svg {
    fill: #888;
}

.draftJsToolbar__button__qi1gf:hover, .draftJsToolbar__button__qi1gf:focus {
    background: #f3f3f3;
    outline: 0; /* reset for :focus */
}

.draftJsToolbar__active__3qcpF {
    background: #efefef;
    color: #444;
}

.draftJsToolbar__active__3qcpF svg {
    fill: #444;
}
.draftJsToolbar__separator__3U7qt {
    display: inline-block;
    border-right: 1px solid #ddd;
    height: 24px;
    margin: 0 0.5em;
}
.draftJsToolbar__toolbar__dNtBH {
    left: 50%;
    -webkit-transform: translate(-50%) scale(0);
    transform: translate(-50%) scale(0);
    position: absolute;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
    z-index: 2;
    box-sizing: border-box;
}

.draftJsToolbar__toolbar__dNtBH:after, .draftJsToolbar__toolbar__dNtBH:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.draftJsToolbar__toolbar__dNtBH:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 4px;
    margin-left: -4px;
}
.draftJsToolbar__toolbar__dNtBH:before {
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #ddd;
    border-width: 6px;
    margin-left: -6px;
}
.options {
    margin-bottom: 20px;
}

.draftJsEmojiPlugin__emojiSelect__34S1B {
    display: inline-block;
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol, .draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu {
    margin: 0;
    padding: 0;
    width: 2.5em;
    height: 1.5em;
    box-sizing: border-box;
    line-height: 1.2em;
    font-size: 1.5em;
    color: #888;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 1.5em;
    cursor: pointer;
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol:focus, .draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu:focus {
    outline: 0;
    /* reset for :focus */
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol:hover, .draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu:hover {
    background: #f3f3f3;
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol:active, .draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu:active {
    background: #e6e6e6;
}

.draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu {
    background: #ededed;
}

.draftJsEmojiPlugin__emojiSelectPopover__1J1s0 {
    margin-top: 10px;
    padding: 0 .3em;
    position: absolute;
    z-index: 1000;
    box-sizing: content-box;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 30px 0 gainsboro;
}

.draftJsEmojiPlugin__emojiSelectPopoverClosed__3Kxxq {
    display: none;
}

.draftJsEmojiPlugin__emojiSelectPopoverTitle__3tpXz {
    margin: 0 0 .3em;
    padding-left: 1em;
    height: 2.5em;
    line-height: 2.5em;
    font-weight: normal;
    font-size: 1em;
    color: #9e9e9e;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroups__35t9m {
    margin: 0 0 .3em;
    position: relative;
    z-index: 0;
    width: 21em;
    height: 20em;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroup__3zwcE {
    padding: 0 .5em;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroup__3zwcE:first-child .draftJsEmojiPlugin__emojiSelectPopoverGroupTitle__2pC51 {
    display: none;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroupTitle__2pC51 {
    margin: 1em 0;
    padding-left: .5em;
    font-weight: normal;
    font-size: 1em;
    color: #9e9e9e;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroupList__HQ8_y {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroupItem__2pFOS {
    width: 2.5em;
    height: 2.5em;
}

.draftJsEmojiPlugin__emojiSelectPopoverToneSelect__28bny {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.draftJsEmojiPlugin__emojiSelectPopoverToneSelectList__haFSJ {
    margin: .3em;
    padding: .3em;
    position: absolute;
    display: -webkit-box;
    display: flex;
    list-style: none;
    border: 1px solid #e0e0e0;
    border-radius: .5em;
    background: #fff;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.1);
}

.draftJsEmojiPlugin__emojiSelectPopoverToneSelectItem__2SgvL {
    width: 2.5em;
    height: 2.5em;
}

.draftJsEmojiPlugin__emojiSelectPopoverToneSelectItem__2SgvL:first-child {
    border-right: 1px solid #e0e0e0;
}

.draftJsEmojiPlugin__emojiSelectPopoverEntry__1ErDJ, .draftJsEmojiPlugin__emojiSelectPopoverEntryFocused__M28XS {
    padding: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    transition: background-color 0.4s cubic-bezier(0.27, 1.27, 0.48, 0.56);
}

.draftJsEmojiPlugin__emojiSelectPopoverEntryFocused__M28XS {
    background-color: #efefef;
}

.draftJsEmojiPlugin__emojiSelectPopoverEntryIcon__1yNaC {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.draftJsEmojiPlugin__emojiSelectPopoverNav__1Nzd7 {
    margin: 0;
    padding: 0 .5em;
    display: -webkit-box;
    display: flex;
    width: 20em;
    list-style: none;
}

.draftJsEmojiPlugin__emojiSelectPopoverNavItem__qydCX {
    width: 2.5em;
    height: 2.5em;
}

.draftJsEmojiPlugin__emojiSelectPopoverNavEntry__1OiGB, .draftJsEmojiPlugin__emojiSelectPopoverNavEntryActive__2j-Vk {
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    color: #bdbdbd;
    background: none;
    border: none;
    outline: none;
}

.draftJsEmojiPlugin__emojiSelectPopoverNavEntryActive__2j-Vk {
    color: #42a5f5;
}

.draftJsEmojiPlugin__emojiSelectPopoverScrollbar__1Xjc6 {
    position: absolute;
    right: 0;
    top: .3em;
    bottom: .3em;
    width: .25em;
    background-color: #e0e0e0;
    border-radius: .125em;
    opacity: .1;
    transition: opacity .4s;
}

.draftJsEmojiPlugin__emojiSelectPopoverScrollbarThumb__jGYdG {
    background-color: #000;
    border-radius: .125em;
    cursor: pointer;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroups__35t9m:hover .draftJsEmojiPlugin__emojiSelectPopoverScrollbar__1Xjc6 {
    opacity: .3;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroups__35t9m .draftJsEmojiPlugin__emojiSelectPopoverScrollbar__1Xjc6:hover,
.draftJsEmojiPlugin__emojiSelectPopoverGroups__35t9m .draftJsEmojiPlugin__emojiSelectPopoverScrollbar__1Xjc6:active {
    opacity: .6;
}
.draftJsEmojiPlugin__emoji__2oqBk {
    background-position: center;
    /* make sure the background the image is only shown once */
    background-repeat: no-repeat;
    background-size: contain;
    /* move it a bit further down to align it nicer with the text */
    vertical-align: middle;

    /*
    We need to limit the emoji width because it can be multiple characters
    long if it is a 32bit unicode. Since the proper width depends on the font and
    it's relationship between 0 and other characters it's not ideal. 1.95ch is not
    the best value, but hopefully a good enough approximation for most fonts.
    */
    display: inline-block;
    overflow: hidden;
    max-width: 1.95ch;
    /*
    Needed for iOS rendering to avoid some icons using a lot of height without
    actually needing it.
    */
    max-height: 1em;
    line-height: inherit;
    margin: -.2ex 0em .2ex;
    /*
    In the past we used opacity: 0 to hide the original Emoji icon no matter what
    system it is. Recently we switched to color: transparent since it started to
    work in recent iOS version.
    */
    color: transparent;

    /*
    Some SVG files (say 2764 for :heart:) don't have default width/height, thus
    may not be rendered properly on some platforms/browsers (e.g., Windows 10 +
    Chrome 61).
    */
    min-width: 1em;
}
.draftJsEmojiPlugin__emojiSuggestionsEntry__2-2p_ {
    padding: 5px 10px 1px 10px;
    transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.draftJsEmojiPlugin__emojiSuggestionsEntry__2-2p_:active {
    background-color: #cce7ff;
}

.draftJsEmojiPlugin__emojiSuggestionsEntryFocused__XDntY {
    background-color: #e6f3ff;
}

.draftJsEmojiPlugin__emojiSuggestionsEntryText__2sPjk {
    display: inline-block;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 368px;
    font-size: 0.9em;
}

.draftJsEmojiPlugin__emojiSuggestionsEntryIcon__1qC2V {
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    display: inline-block;
}
.draftJsEmojiPlugin__emojiSuggestions__2ffcV {
    border: 1px solid #eee;
    margin-top: 1.75em;
    position: absolute;
    min-width: 220px;
    max-width: 440px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 2;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.headlineButtonWrapper {
    display: inline-block;
}

.headlineButton {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
    background: #f3f3f3;
}

.error{
    border: 1px solid red;
}

.draftJsToolbar__blockType__27Jwn {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
    padding: 5px;
    margin: 0;
    border-radius: 18px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
}

.draftJsToolbar__blockType__27Jwn svg {
    fill: #888;
}

.draftJsToolbar__spacer__2Os2z {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 74px;
    height: 8px;
}

.draftJsToolbar__popup__GHzbY {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: #efefef;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
    z-index: 3;
    box-sizing: border-box;
    width: 74px;
    margin-top: 8px;
}

.draftJsToolbar__popup__GHzbY:after, .draftJsToolbar__popup__GHzbY:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.draftJsToolbar__popup__GHzbY:after {
    border-color: rgba(251, 251, 251, 0);
    border-bottom-color: #fbfbfb;
    border-width: 4px;
    margin-left: -4px;
}
.draftJsToolbar__popup__GHzbY:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #ddd;
    border-width: 6px;
    margin-left: -6px;
}
.draftJsToolbar__buttonWrapper__1Dmqh {
    display: inline-block;
}

.draftJsToolbar__button__qi1gf {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

.draftJsToolbar__button__qi1gf svg {
    fill: #888;
}

.draftJsToolbar__button__qi1gf:hover, .draftJsToolbar__button__qi1gf:focus {
    background: #f3f3f3;
    outline: 0; /* reset for :focus */
}

.draftJsToolbar__active__3qcpF {
    background: #efefef;
    color: #444;
}

.draftJsToolbar__active__3qcpF svg {
    fill: #444;
}

.draftJsToolbar__separator__3M3L7 {
    display: inline-block;
    border-right: 1px solid #ddd;
    height: 24px;
    margin: 0 0.5em;
}
.draftJsToolbar__wrapper__9NZgg {
    position: absolute;
}

.blockType {
    box-sizing: border-box;
    border: 1px solid #111;
    background: #333;
    padding: 5px;
    margin: 0;
    border-radius: 18px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
}

.blockType svg {
    fill: #ddd;
}

.spacer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 74px;
    height: 8px;
}

.popup {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #111;
    background: #333;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
    z-index: 3;
    box-sizing: border-box;
    width: 74px;
    margin-top: 8px;
}

.popup:after, .popup:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popup:after {
    border-color: rgba(251, 251, 251, 0);
    border-bottom-color: #333;
    border-width: 4px;
    margin-left: -4px;
}
.popup:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #111;
    border-width: 6px;
    margin-left: -6px;
}
.wrapper {
    position: absolute;
}
.wrapper {
    position: absolute;
}

.buttonWrapper {
    display: inline-block;
}

.button {
    background: #333;
    color: #ddd;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
    border-radius: 4px;
}

.button svg {
    fill: #ddd;
}

.button:hover, .button:focus {
    background: #444;
    outline: 0; /* reset for :focus */
}

.active {
    color: #6a9cc9;
}

.active svg {
    fill: #6a9cc9;
}
.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.like-icon {
    font-size: 18px;
    font-weight: 400;
    color: #cb2027;
    transition: .2s;
}

.like-icon:before {
    content: '\f004';
}

.like-icon:hover {
    font-weight: 900;
    text-shadow: 0 0 4px #cb2027;
    transform: scale(1.2);
}
